* {
  margin: 1%;
}
h1 {
  color: purple;
  margin: 2%;
}
ul {
  display: flex;
  flex-direction: column;
  background-color: purple;
  color: violet;
  max-width: 200px;
  min-height: 100px;
  margin: 2%;
  padding: 6%;
  border-radius: 5px;
}
input {
  background-color: violet;
  border: 2px solid purple;
  border-radius: 5px;
  color: purple;
  padding: 2%;
}
